.description-container {
  margin: auto;
  width: 900px;
}

.description-container h2 {
  text-align: center;
}

.description-container .cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 200px;
  padding: 20px;
  box-shadow: 0 0 5px rgb(230 230 230);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;
}

.card img {
  height: 100px;
}
